<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= stylesheet_link_tag 'index' %>
    <%= stylesheet_link_tag 'show' %>
    <%= stylesheet_link_tag 'edit' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
